.product-option {
    margin: 5px;
    padding: 5px 20px;
    border: none;
    font-weight: 500;
    background-color: #ffff;
    color: #000c;
    border: 1px solid rgba(0, 0, 0, .09);
    cursor: pointer;
}

.product-option.active {
    color: #ffffff;
    background-color: #3474d4;
    border-color: #3474d4;
}

.product-option:disabled {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .26);
    border-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .09);
    cursor: not-allowed;
}

.disabled-input {
    opacity: 0.5;
    pointer-events: none;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

#voucherList li:hover {
    background: #e2e6ea;
    /* Màu nền khi hover */
    cursor: pointer;
    /* Con trỏ chuột khi hover */
}

#voucherList li {
    margin-right: 5px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    background: #f8f9fa;
    border: 1px solid #ced4da;
    color: #333;
    font-weight: 500;
    transition: background 0.3s;
}

.mb-50 {
    margin-bottom: 50px;
}

.custom-btn {
    display: inline-flex;
    align-items: center;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.custom-btn i {
    margin-right: 10px;
}

.danger-btn {
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
}

.danger-btn:hover {
    background: linear-gradient(90deg, #ff1e42, #ff9f67);
}

.success-btn {
    background: linear-gradient(90deg, #38ef7d, #11998e);
}

.success-btn:hover {
    background: linear-gradient(90deg, #33d76d, #0fa879);
    transform: translateY(-3px);
}

.alert-danger {
    background-color: #d05656;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert-danger i {
    margin-right: 10px;
}

.btn-buy {
    background-color: #dc2626;
    color: #fff;
    margin-left: 0 !important;
}

.btn-buy:hover {
    background-color: #b91c1c;
    color: #fff;
}

.btn-cart:hover {
    background-color: #1d4fa1;
}